.create-blocks{
  li{
    padding:15px 0;
    label{display: inline-block;vertical-align: middle;font-size:14px;min-width:130px;}
    .ipttxt,.ipt{border:1px solid #f3f3f3;border-radius:5px;width:60%;height:40px;line-height:40px;padding-left:5px;}
    span{
      display: inline-block;margin-right:5%;vertical-align: middle;
      input{vertical-align: middle;margin-right:10px;}
    }
    textarea{width:60%;border-radius: 5px;border:1px solid #f6f7f8;height:150px;vertical-align: middle;padding-left:5px;padding-top: 5px;}
    .ipt{width:100px;margin-right:10px;}
    .el-form-item{margin-bottom:0;}
    .el-form-item__error{left:130px;}
  }
  .btn-blocks{
    padding-top:40px;padding-left:10%;
    &>a{margin-right:30px;}
    &>input{margin-right:10px;}
  }
  .flex-con{
    &>div{width:80%;}
  }
  .msg-txt{padding-top:10px;color:#f00;}
}
.create-blocks.flex-type{
  li{display:flex;justify-content:left;}
  .advertActivity{
    &>div{
      padding-top:10px;width:1000px;display: flex;flex-wrap: wrap;align-items: center;
      /*.el-checkbox{display: block;}*/
      .el-checkbox{width:30%;margin-bottom:10px;
        .el-checkbox__input{vertical-align: middle;}
        span.el-checkbox__label{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:260px;margin-top:-2px;}
      }
    }
  }
  .el-checkbox + .el-checkbox{margin-left:0;}
  .el-select{top:-10px;}
}
.list-blocks{
  .search-box{
    display:flex;
    .ipttxt{height:40px;line-height:40px;border:1px solid #f3f3f3;border-radius: 5px;padding-left:10px;color:#606266;font-size:14px;}
    .ipttxt::-webkit-input-placeholder {
      color:#ddd; font-size:14px;
    } 
    .el-form-item__content{float:left;}
    .btn-blocks{
      &>input{margin-right:10px;}
    }
  }
  .el-form{display: flex;flex-wrap: wrap;width:100%;}
  .el-form-item{display:inline-block;margin-right:5%;}
  .btn-blocks{margin-left:10px;margin-top:3px;
    &>input{margin-right:20px;}
  }
  a{color: #3092ff;display:inline-block;}
  .mr20{margin-right:20px;}
  .el-pagination .el-select .el-input .el-input__inner{height: 28px;}
  .el-input__icon{line-height:28px;}
}
.banner-blocks{
  li{padding:10px 0;color:#999;font-size:14px;
    .el-form-item{display: flex;justify-content: left;align-items: flex-start;}
    .el-form-item__content{width:100%;}
    .ipttxt{border: 1px solid #ddd;height: 30px;line-height: 30px;width:50%;border-radius: 5px;padding-left: 10px;color: #666;}
    .coverfile{width: 100px;height: 100px;position: absolute;left:0;top:0;border: 1px solid #000;opacity: 0;cursor: pointer;}
    .col-md-6 {width: 392px;padding-left: 0px;padding-right: 15px;position: relative;}
    .ant-upload.ant-upload-select-picture-card {
        border: 1px dashed #d9d9d9;
        width: 100px;
        height: 100px;
        padding: 24px 0;
        border-radius: 6px;
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
        -webkit-transition: border-color .3s ease;
        transition: border-color .3s ease;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 8px;
    }
    .ant-upload>span {
        display: block;
        width: 100%;
        color: #9a9a9a;
        font-size: 12px;
        outline: none;
    }
    .ant-upload-text{line-height: 25px;}
    }
    .show-img{
      position: relative;
      .layer{position: absolute;left:0;top:0;width:700px;height:260px;background:#000;opacity: 0.5;text-align: center;}
      em{cursor: pointer;width:20px;height:20px;display:block;position: absolute;top:50%;margin-top:-10px;left:50%;margin-left:-10px;
        &:before{font-size:20px}
      }
      img{width:700px;height:260px;cursor: pointer;}
    }
    .btn-blocks{
      margin-top:20px;
      input{cursor: pointer;}
    }
}
.advert-type{
  display: flex;justify-content: space-between;align-items: center;width:800px;flex-wrap:wrap;
  a{display: inline-block;padding:20px 50px;font-size:14px;color: #999;border:1px solid #ccc;}
  a.active{border:2px solid #3092ff;}
}