*{margin: 0;padding: 0;box-sizing: border-box;font-style: normal;}
body { font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif}
img {border: none}
.fl {float: left}
.fr {float: right}
.g-tr{text-align: right;}
.g-tl{text-align: left;}
.g-tc{text-align: center;}
h1,h2,h3,h4,h5 {font-weight: 400}
ul,li{list-style:none;}
a{text-decoration: none;}
input{outline: none;}
.blue-btn{background:#3092ff;text-align: center;color:#fff;padding:10px 0;border:1px solid #3092ff;border-radius:4px;}
.white-btn{background:#fff;text-align: center;color:#666;padding:10px 0;border:1px solid #ccc;border-radius:4px;}